# Ignore checkpoints directory
checkpoints/
data/
gradcam_visualizations_block8/
gradcam_visualizations_resnet_v1/
occlusion_importance_visualizations_heatmap_mean/
occlusion_importance_visualizations_heatmap/